.container-class-selector {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  height: 100dvh;
  width: 100dvw;
  box-sizing: border-box;
}

.title-selector {
  font-size: 2rem;
  text-align: left;
  font-weight: 600;
}

.grid-selector {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  height: 100%;
  box-sizing: border-box;
}

.selector-class-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 3rem;
  padding: 0.5rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  gap: 0.5rem;
}

.selector-class-item:hover {
  box-shadow: 15px 15px 30px #dac2ff, -15px -15px 30px #f8edff;
  background: #f7f3fd;
}

.class-item-picture {
  width: 100%;
  flex: 3;
  border-radius: 2.5rem;
  background-image: url("./background-selector.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 1rem 0;
  position: relative;
  overflow: hidden;
}

.class-item-picture::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./background-selector.webp");
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 0) 30%
  );
  -webkit-mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 0) 30%
  );
  pointer-events: none; /* pour ne pas bloquer les interactions */
  border-radius: 2.5rem;
  z-index: 0;
}


.class-item-picture > * {
  position: relative;
  z-index: 1;
}

.block-text-item-picture {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.subtitle-class-item {
  font-style: italic;
  color: #cfcfcf;
  font-size: 0.75rem;
}

.title-class-item {
  color: #fff;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 700;
}

.btn-class-selector {
  width: 80%;
  height: 2rem;
  border-radius: 6rem;
  border: none;
  background: #d8d8d8;
  color: #1e1d1d;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 200;
  font-style: italic;
  transition: all 0.5s ease;
}

.btn-class-selector:hover {
  transform: scale(1.05);
  color: #681eea;
  background: #ede4ff;
}

.btn-class-selector:active {
  background: #e5d6ff;
}
