.scroll-list-container {
  height: 100%;
}

.scroll-list {
  max-height: 400px;
  overflow-y: auto;
  border-radius: 1rem;
  height: 100%;
}

.scroll-list::-webkit-scrollbar {
  width: 8px;
}

.scroll-list::-webkit-scrollbar-track {
  background: #060010;
}

.scroll-list::-webkit-scrollbar-thumb {
  background: #271e37;
  border-radius: 4px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.item-list {
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(78, 0, 195, 0.1);
}

.checkbox-eleve {
  width: 1rem;
  height: 1rem;
  accent-color: #271e37;
  border-radius: 2rem;
  border: 0px;
}

.checkbox-eleve:hover {
  border: 0px;
}

.item.selected {
  background-color: #271e37;
}

.item-text {
  margin: 0;
  font-weight: 500;
  text-transform: capitalize;
  transition: color 0.3s ease;
}

.item-text-not-checked {
  color: #c8ccd4;
  text-decoration: line-through;
}

.top-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: linear-gradient(to bottom, #060010, transparent);
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.bottom-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(to top, #060010, transparent);
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.check {
  cursor: pointer;
  position: relative;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s ease;
}

.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

.check:hover:before {
  opacity: 1;
}

.item-list:hover svg,
.check:hover svg {
  stroke: #681eea;
}

input[type="checkbox"]:checked + .check svg {
  stroke: #681eea;
}

input[type="checkbox"]:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.5s linear;
}

input[type="checkbox"]:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.5s linear;
  transition-delay: 0.15s;
}
