.setting-data-container {
  padding: 20px;
  height: 100dvh;
  box-sizing: border-box;
  display: flex;
  gap: 1rem;
}

.setting-header {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
}

.grid {
  height: 100%;
  width: 100%;
}

.ag-header-cell.header-action .ag-header-cell-text {
  text-align: center;
  width: 100%;
}
