@import 'tailwindcss';
@import 'tw-animate-css';
@plugin "@toolwind/corner-shape";

/* Déclarations des polices locales */
@font-face {
  font-family: 'ClashGrotesk';
  src:
    url('/fonts/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Variable.woff2')
      format('woff2'),
    url('/fonts/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Variable.woff')
      format('woff'),
    url('/fonts/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Variable.ttf')
      format('truetype');
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}

@custom-variant dark (&:is(.dark *));

:root {
  --background: #f7f7fd;
  --foreground: #29293d;
  --card: #fbfbfe;
  --card-foreground: #29293d;
  --popover: #fbfbfe;
  --popover-foreground: #29293d;
  --primary: #4d33cc;
  --primary-foreground: #ffffff;
  --secondary: #d9c9e8;
  --secondary-foreground: #29293d;
  --muted: #f0f0f5;
  --muted-foreground: #67677e;
  --accent: #e1d9f2;
  --accent-foreground: #2e1f7a;
  --destructive: #eb4747;
  --destructive-foreground: #ffffff;
  --border: #d1d1e0;
  --input: #e0e0eb;
  --ring: #4d33cc;
  --chart-1: #4d33cc;
  --chart-2: #9966cc;
  --chart-3: #3c57dd;
  --chart-4: #bd94d1;
  --chart-5: #79b5d2;
  --sidebar: #f3f3fc;
  --sidebar-foreground: #29293d;
  --sidebar-primary: #4934b2;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #ccb8e0;
  --sidebar-accent-foreground: #29293d;
  --sidebar-border: #c2c2d6;
  --sidebar-ring: #4934b2;
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --font-clash: 'ClashGrotesk', sans-serif;
  --radius: 3rem;
  --shadow-x: 0rem;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0.1rem;
  --shadow-opacity: 0.05;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0rem 0.25rem 0.5rem 0.1rem hsl(0 0 0 / 0.03);
  --shadow-xs: 0rem 0.25rem 0.5rem 0.1rem hsl(0 0 0 / 0.03);
  --shadow-sm: 0rem 0.25rem 0.5rem 0.1rem hsl(0 0 0 / 0.05), 0rem 1px 2px -0.9px hsl(0 0 0 / 0.05);
  --shadow: 0rem 0.25rem 0.5rem 0.1rem hsl(0 0 0 / 0.05), 0rem 1px 2px -0.9px hsl(0 0 0 / 0.05);
  --shadow-md: 0rem 0.25rem 0.5rem 0.1rem hsl(0 0 0 / 0.05), 0rem 2px 4px -0.9px hsl(0 0 0 / 0.05);
  --shadow-lg: 0rem 0.25rem 0.5rem 0.1rem hsl(0 0 0 / 0.05), 0rem 4px 6px -0.9px hsl(0 0 0 / 0.05);
  --shadow-xl: 0rem 0.25rem 0.5rem 0.1rem hsl(0 0 0 / 0.05), 0rem 8px 10px -0.9px hsl(0 0 0 / 0.05);
  --shadow-2xl: 0rem 0.25rem 0.5rem 0.1rem hsl(0 0 0 / 0.13);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: #14141f;
  --foreground: #d6d6f5;
  --card: #101018;
  --card-foreground: #d6d6f5;
  --popover: #101018;
  --popover-foreground: #d6d6f5;
  --primary: #3d29a3;
  --primary-foreground: #ffffff;
  --secondary: #4d2e6b;
  --secondary-foreground: #d6d6f5;
  --muted: #21212c;
  --muted-foreground: #8f8fa3;
  --accent: #352060;
  --accent-foreground: #e1d9f2;
  --destructive: #e61919;
  --destructive-foreground: #ffffff;
  --border: #2b2b3b;
  --input: #272735;
  --ring: #3d29a3;
  --chart-1: #3d29a3;
  --chart-2: #8040bf;
  --chart-3: #223dc3;
  --chart-4: #a770c2;
  --chart-5: #539fc6;
  --sidebar: #0e0e15;
  --sidebar-foreground: #d6d6f5;
  --sidebar-primary: #39288a;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #402659;
  --sidebar-accent-foreground: #d6d6f5;
  --sidebar-border: #272735;
  --sidebar-ring: #39288a;
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --font-clash: 'ClashGrotesk', sans-serif;
  --radius: 3rem;
  --shadow-x: 0rem;
  --shadow-y: 0.35rem;
  --shadow-blur: 0.75rem;
  --shadow-spread: 0.15rem;
  --shadow-opacity: 0.3;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0rem 0.35rem 0.75rem 0.15rem hsl(0 0 0 / 0.15);
  --shadow-xs: 0rem 0.35rem 0.75rem 0.15rem hsl(0 0 0 / 0.15);
  --shadow-sm: 0rem 0.35rem 0.75rem 0.15rem hsl(0 0 0 / 0.30), 0rem 1px 2px -0.85px hsl(0 0 0 / 0.30);
  --shadow: 0rem 0.35rem 0.75rem 0.15rem hsl(0 0 0 / 0.30), 0rem 1px 2px -0.85px hsl(0 0 0 / 0.30);
  --shadow-md: 0rem 0.35rem 0.75rem 0.15rem hsl(0 0 0 / 0.30), 0rem 2px 4px -0.85px hsl(0 0 0 / 0.30);
  --shadow-lg: 0rem 0.35rem 0.75rem 0.15rem hsl(0 0 0 / 0.30), 0rem 4px 6px -0.85px hsl(0 0 0 / 0.30);
  --shadow-xl: 0rem 0.35rem 0.75rem 0.15rem hsl(0 0 0 / 0.30), 0rem 8px 10px -0.85px hsl(0 0 0 / 0.30);
  --shadow-2xl: 0rem 0.35rem 0.75rem 0.15rem hsl(0 0 0 / 0.75);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Toast styles */
  --toast-success-bg: color-mix(
    in oklab,
    var(--color-green-600) 10%,
    var(--background)
  );
  --toast-success-text: var(--color-green-600);
  --toast-success-border: var(--color-green-600);
  --toast-error-bg: color-mix(
    in oklab,
    var(--color-red-600) 10%,
    var(--background)
  );
  --toast-error-text: var(--color-red-600);
  --toast-error-border: var(--color-red-600);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --font-clash: var(--font-clash);
  --font-boxing: var(--font-boxing);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

/* Mappings rounded-* vers corner-squircle-* pour shadcn et tous les composants */
@utility rounded-* {
  @apply corner-squircle;
}

@keyframes rotateHover {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* Animation pour les checkboxes personnalisées */
.custom-checkbox {
  cursor: pointer;
  position: relative;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.custom-checkbox svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s ease;
}

.custom-checkbox svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

.custom-checkbox svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

.custom-checkbox:hover svg,
.item-list:hover .custom-checkbox svg {
  stroke: #43afa2;
}

input[type='checkbox']:checked + .custom-checkbox svg {
  stroke: #43afa2;
}

input[type='checkbox']:checked + .custom-checkbox svg path {
  stroke-dashoffset: 60;
  transition: all 0.5s linear;
}

input[type='checkbox']:checked + .custom-checkbox svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.5s linear;
  transition-delay: 0.15s;
}

/* Classes pour les scrollbars personnalisées */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #060010;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #271e37;
  border-radius: 4px;
}

.font-inter {
  font-family: var(--font-sans);
}

.font-clash {
  font-family: var(--font-clash);
}
