.consigne-container {
  width: 600px;
  height: 200px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-items: center;
  cursor: pointer;
  gap: 2rem;
  display: flex;
  border-radius: 3.5rem;
  overflow: hidden;
  box-sizing: border-box;
  padding: 1rem;
  position: relative;
  background: #ffffff;
}
